<div class="row" style="margin-top: 10%;">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body bg-danger text-white">
              <h6 style="text-align: center;">ASA International AMBS, Client and Guarantor Management Module.</h6>
              <a routerLink="/client-management" class="btn btn-warning btn-block text-dark text text-uppercase" style="font-weight: bold;">Client Management</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body bg-dark text-white">
              <h6 style="text-align: center;">ASA International AMBS, Loan Account and Schedule Management Module.</h6>
              <a routerLink="/loan-management" class="btn btn-warning btn-block text-dark text text-uppercase fw-bold" style="font-weight: bold;">Loan Management</a>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body bg-success text-white">
              <h6 style="text-align: center;">ASA International AMBS, Transactions, Journal, Process Management Module.</h6>
              <a routerLink="/transaction-management" class="btn btn-warning btn-block text-dark text text-uppercase fw-bold" style="font-weight: bold;">Transaction Management</a>
            </div>
          </div>
    </div>
</div>
