<div class="container container-border">
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 next-ready-box">
          <h3 style="text-align: center;">Client Information</h3>
          <hr />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-3 offset-md-3">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" id="first-name" name="first-name" placeholder="First Name" required [(ngModel)]="formData.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" id="last-name" name="last-name" placeholder="Last Name" required [(ngModel)]="formData.LastName" class="form-control" />
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="text" id="profile-email" name="profile-email"placeholder="Email" required [(ngModel)]="formData.Email" class="form-control" />
            </div>
            <div class="form-group">
              <label>Phone </label>
              <input type="text" id="profile-phone" name="profile-phone"placeholder="Phone" required [(ngModel)]="formData.Phone" class="form-control" />
            </div>
            <div class="form-group">
              <label>Identity Number </label>
              <input type="text" id="profile-phone" name="profile-phone"placeholder="Identity Number" required [(ngModel)]="formData.IdentityNumber" class="form-control" />
            </div>
            <div class="row">
              <div class="col-lg-10 col-md-10 col-sm-10 next-ready-box">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-save"></i> <span> Save</span>
                </button>
              </div>
            </div>
          </div>
    </div>
  </form> 
</div>
