<div class="container container-border">
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 next-ready-box">
          <h3 style="text-align: center;">Loan Account </h3>
          <hr />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label >User </label>
            <select  id="identity" name="identity" [(ngModel)]="formData.IdentityId" class="form-control">
              <option *ngFor="let x of identities" [ngValue]="x.Value" >{{x.Name}}</option>
            </select>

          </div>

            <div class="form-group">
              <label>Product</label>
              <select  id="product-id" name="product-id" [(ngModel)]="formData.ProductId" (change)="productChanged();" class="form-control">
                <option *ngFor="let x of products" [ngValue]="x.Value" >{{x.Name}}</option>
            </select>
            </div>

            <div class="form-group">
              <label>Duration</label>
              <select  id="duration" name="duration" [(ngModel)]="formData.Duration" class="form-control">
                <option *ngFor="let x of durations" [ngValue]="x.Value" >{{x.Name}}</option>
            </select>
            </div>

            <div class="form-group">
              <label>Installment Frequency </label>
              <select  id="installmentFrequency-id" name="installmentFrequency-id" [(ngModel)]="formData.InstallmentFrequencyId" class="form-control">
                <option *ngFor="let x of installmentFrequency" [ngValue]="x.Value" >{{x.Name}}</option>
              </select>

            </div>
            <div class="form-group">
              <label>Disbursed Date </label>
              <input type="Date" id="disbursed-date" name="disbursed-date"placeholder="Disbursed Date" required [(ngModel)]="formData.DisbursedDate" class="form-control" />
            </div>

            <div class="form-group">
              <label>Amount </label>
              <input type="Number" id="amount" name="amount"placeholder="Amount" required [(ngModel)]="formData.Amount" (change)="getLoanSchedule();" class="form-control" />
            </div>

            <button class="btn btn-primary" type="submit">
              <i class="fa fa-save"></i> <span> Save</span>
            </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div *ngIf="schedules && schedules.length >0" class="row" style="margin-top: 5%;">
            <table srtyle="margin-right: 8px;"  class="table table-success table-striped table-hover loan-schedule-table">
              <thead>
                  <tr>
                      <td>#</td>
                      <td>Installment Number</td>
                      <td>Scheduled Date</td>
                      <td>Installment Amount</td>
                      <td>Paid Amount</td>
                      <td>Outstanding Amount</td>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let schedule of schedules;  let i = index">
                      <td>{{(i + 1)}}</td>
                      <td>{{schedule.InstallmentNo}}</td>
                      <td>{{schedule.ScheduledDate | date:'mediumDate'}}</td>
                      <td>{{schedule.InstallmentAmount}}</td>
                      <td>{{schedule.PaidAmount}}</td>
                      <td>{{schedule.OutstandingAmount}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10 next-ready-box">

          </div>
        </div>
    </div>
</form>
</div>


