.container-border {
  border: 1px solid #0aba61;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

table.loan-schedule-table thead tr td {
  font-weight: bold;
  border: 1px solid #20a03d;
}

table.loan-schedule-table tbody tr td {
  border: 1px solid #20a03d;
}
